@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

.modal-content {
    width: 600px;
    height: 400px;
    border-radius: 20px;
}

.timer-rectangle {
    box-sizing: border-box;

    width: 350px;
    height: 120px;


    background: #FFFFFF;
    border: 8px solid #A6CEE3;
    border-radius: 10px;
}

.hour, .minuit, .second  {
    color: #5E5E5F;
    font-size: 64px;
    font-family: 'Roboto Slab', serif;
}

.colon  {
    color: #5E5E5F;
    font-size: 35px;
    font-family: 'Roboto Slab', serif;

    padding: 0 10px 0 10px;
}

.btn-start {
    color: white;
    background-color: #59A4CB !important;
    width: 80px;
}

.btn-cancel {
    margin-right: 113px;
    width: 80px;
}
